:root {
  --black: #0d0d0d;
  --red: #ff2d2b;
}

.scoreboard {
  width: 80%;
  margin: 10rem auto;
  background-color: blue;
  color: white;
  border-radius: 0.5rem;
  margin-top: 10rem;
  padding: 5rem;
  border: 4px solid #aaaaaa;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  /* height: 20rem; */
}

.home,
.away {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  border: 3px solid white;
  border-radius: 0.5rem;
  width: 15rem;
}

.home {
  background-color: #656565;
}

.away {
  background-color: #af750a;
}

.home__name,
.away__name,
.foul__title,
.toGo__title,
.ballOn__title,
.period__title {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem;
}

.home__score,
.away__score {
  font-family: "Ozone";
  font-size: 7rem;
  width: 90%;
  text-align: center;
  background-color: var(--black);
  color: var(--red);
  padding: 5%;
}

.timer {
  font-family: "Ozone";
  font-size: 9rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--black);
  border: 2px solid white;
  border-radius: 6px;
}

.bottomRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 20rem;
}

.foul,
.toGo,
.ballOn,
.period {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}

.foul__value,
.toGo__value,
.ballOn__value,
.period__value {
  font-family: "Ozone";
  font-size: 5rem;
  color: var(--red);
  width: 7rem;
  text-align: center;
  background-color: var(--black);
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.6rem;
  border: 1px solid white;
}

.buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.homeButtons__touchfoul,
.homeButtons__freeThrow,
.awayButtons__touchfoul,
.awayButtons__freeThrow {
  margin: 1rem;
  border-radius: 4px;
}
