:root {
  --purple: #3F1052;
  --red: #ff2d2b;
}

.scoreboard {
  width: 100%;
  margin: 10rem auto;
  background-color: #3F1052;
  color: white;
  border-radius: 0.5rem;
  margin-top: 10rem;
  padding: 5rem;
  border: 4px solid #aaaaaa;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  /* height: 20rem; */
}

.home,
.away {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  border-radius: 1em;

  width: 17rem;
}

.home {
  background-color: red;
}

.away {
  background-color: blue;
}

.home__name,
.away__name,
.down__title,
.toGo__title,
.ballOn__title,
.quarter__title {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem;
}

.home__score,
.away__score {
  font-family: arial,sans-serif;
  font-size: 10rem;
  width: 100%;
  text-align: center;
  background-color: #3F1052;
  padding: 5%;
}

.timer {
  font-family: arial,sans-serif;
  font-size: 9rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--black);
  border-radius: 6px;
}

.bottomRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 20rem;
}

.down,
.toGo,
.ballOn,
.quarter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}

.down__value,
.toGo__value,
.ballOn__value,
.quarter__value {
  font-family: arial,sans-serif;
  font-size: 5rem;
  color: var(--white);
  width: 9rem;
  text-align: center;
  background-color: #3F1052;
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.6rem;
}

.buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.homeButtons__touchdown,
.homeButtons__fieldGoal,
.awayButtons__touchdown,
.awayButtons__fieldGoal {
  margin: 1rem;
  border-radius: 4px;
}
